<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <typeAliases>
       <typeAlias type="com.po.User" alias="User"/>
       <typeAlias type="com.po.Question" alias="Question"/>
       <typeAlias type="com.po.Answer" alias="Answer"/>
       <typeAlias type="com.po.Page" alias="Page"/>
       <typeAlias type="com.po.Blog" alias="Blog"/>
       <typeAlias type="com.po.Post" alias="Post"/>
       <typeAlias type="com.po.Reply" alias="Reply"/>
       <typeAlias type="com.po.PostCollect" alias="PostCollect"/>
       <typeAlias type="com.po.QuestionCollect" alias="QuestionCollect"/>
       <typeAlias type="com.po.Catalog" alias="Catalog"/>
       <typeAlias type="com.po.PointRecord" alias="PointRecord"/>
       <typeAlias type="com.po.Blog_Comment" alias="Blog_Comment"/>
       <typeAlias type="com.po.Message" alias="Message"/>
       <typeAlias type="com.po.UserCollect" alias="UserCollect"/>
     </typeAliases>

     <mappers>
       
     </mappers>
    
</configuration>
