<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.QuestionMapper">
   
   
   <resultMap type="Question" id="questionmap">
      <result property="questionid" column="questionid"/>
      <result property="username" column="username"/>
      <result property="title" column="title"/>
      <result property="content" column="content"/>
      <result property="point" column="point"/>
      <result property="date" column="date"/>
      <result property="answernum" column="answernum"/>
      <result property="browsenum" column="browsenum"/>
      <result property="collectnum" column="collectnum"/>
      <result property="haveright" column="haveright"/>
   </resultMap>
   
   
  
   
   <select id="getQuestionbyPage" parameterType="Question"   resultMap="questionmap">
   
       select * from question limit #{start},#{pageSize}
   </select>
   
   <select id="getQuestionWithPoint" parameterType="Question"   resultMap="questionmap">
   
       select * from question where point>0 limit #{start},#{pageSize}
   </select>
   
   <select id="getQuestionWithNoAnswer" parameterType="Question"   resultMap="questionmap">
   
       select * from question where answernum=0 limit #{start},#{pageSize}
   </select>
   
   <select id="getQuestionHaveAnswer" parameterType="Question"   resultMap="questionmap">
   
       select * from question where answernum>0 limit #{start},#{pageSize}
   </select>
   
    <select id="gethotQuestion"  resultMap="questionmap">
   
       select * from question order by browsenum DESC limit 0,5
   </select>
   
   <select id="getNewQuestion"  resultMap="questionmap">
   
       select * from question order by date DESC limit 0,5
   </select>
   
    <insert id="insertQuestion" parameterType="Question" >
       insert into question (username,title,content,point,date) values(#{username},#{title},#{content},#{point},now())
   
   </insert>
   
   <select id="getQuestionbyid" parameterType="Question" resultMap="questionmap">
   
       select * from question where questionid=#{questionid}
   </select>
  
   <select id="getQuestionTotalRow" resultType="int">
       select count(*) from question;
   
   </select>
  
   <select id="getQuestionTotalRowPoint" resultType="int">
       select count(*) from question where point>0;
   
   </select>
   
   <select id="getQuestionTotalRowNoAnswer" resultType="int">
       select count(*) from question where answernum=0;
   
   </select>
   
   <select id="getQuestionTotalRowAnswer" resultType="int">
       select count(*) from question where answernum>0;
   
   </select>
   
   <select id="getQuestionTotalRowMyquestion" resultType="int">
       select count(*) from question where username=#{username};
   
   </select>
   
   <select id="getMyCollectQuestionTotalRow" resultType="int">
       select count(*) from questioncollect where username=#{username};
   
   </select>
   
   <select id="getQuestionKeywordTotalRow" resultType="int">
       select count(*) from question where title like #{title};
   
   </select>
   
   <select id="getIdbyTitle" parameterType="Question" resultType="int">
       select questionid from question where title=#{title};
   
   </select>
   
   <select id="getQuestionbyUsername" parameterType="Question" resultMap="questionmap">
       select * from question where username=#{username} limit #{start},#{pageSize};
   
   </select>
   
   <select id="getMyCollectQuestion" parameterType="Question" resultMap="questionmap">
       SELECT * FROM question WHERE questionid=(SELECT questionid FROM questioncollect WHERE username=#{username})
   
   </select>
   
    <select id="getQuestionbyKeyword" parameterType="Question" resultMap="questionmap">
       SELECT * FROM question WHERE title like #{title}
   
   </select>
   
   <update id="updateBrowsenum" parameterType="Question" >
       update question SET browsenum=browsenum+1 where questionid=#{questionid}
   </update>
   
   <update id="updateAnswernum" parameterType="Question"  >
       update question SET answernum=answernum+1 where questionid=#{questionid}
   </update>
   
   <update id="addCollectnum" parameterType="Question" >
       update question SET collectnum=collectnum+1 where questionid=#{questionid}
   </update>
   
   <update id="delectCollectnum" parameterType="Question" >
       update question SET collectnum=collectnum-1 where questionid=#{questionid}
   </update>
   
   <update id="updateQuestionbyquestionid" parameterType="Question"  >
       UPDATE  question SET title=#{title} , content=#{content},point=point+#{point} WHERE questionid=#{questionid}
   </update>
   
   <update id="updateQuestionRightAnswer" parameterType="Question"  >
       UPDATE  question SET haveright=#{haveright}  WHERE questionid=#{questionid}
   </update>
   
   <delete id="delectQuestionbyquestionid" parameterType="Question" >
       DELETE FROM question WHERE questionid=#{questionid}
   
   </delete>
   
</mapper>
