@CHARSET "UTF-8";


#main{
	width: 950px;
	margin: 40px auto 0;
	padding: 10px 0 0 0;
	
}

#asknav{
	background:#fff;
}

#question_button{
	cursor: pointer;
}

#question{
	padding: 15px 0 0 15px;
}

#question p{
	margin: 10px 0;
	padding: 0;
}

#quesion p label{
	font-size: 14px;
	color: #666;
}

#question .text{
	border-radius:4px;
	border:1px solid #ccc;
	background: #fff;
	width: 200px;
	height: 25px;
	line-height: 25px;
	text-indent: 5px;
	font-size: 13px;
	color: #666;
	
}

.uEditor ul.uEditorToolbar{
	height:26px;
}

.left_main{
	float:left;
	width:68%;
	background: #fff;
	border:1px solid #ccc;
	border-radius:4px;
	padding:10px 10px;
}

.right_main{
	float:right;
	width:30%;
	background: #fff;
	border:1px solid #ccc;
	border-radius:4px;
	padding:10px 10px;
}

.left_main a:hover{
	text-decoration:none;
	
}

.left_main #loadmorequestion{
	float:left;
	width:100%;
}


.question_username{
	display:inline-block;
	margin: 0 10px;
	float:left;
}

.question_point{
	display:inline-block;
	float:left;
	 
}

.answer_number{
	float:right;
}

.question_summary{
	float:left;
	clear:both;
	width: 100%;
}
.question_point span{
	background:#f00;
}

.queston_share_bar{
	margin:5px 0 ;
	float:right;
}

hr {
	float: left;
	width: 100%;
}



