@CHARSET "UTF-8";


#main{
	width: 950px;
	margin: 40px auto 0;
	padding: 10px 0 0 0;
	
}

#usernav{
	background:#fff;
}






.main_div{
	float:left;
	width:100%;
	background: #fff;
	border:1px solid #ccc;
	border-radius:4px;
	padding:10px 10px;
}

#updateinformation p{
	margin: 20px 200px 10px 300px;
	font-size: 16px;
}

#updateinformation input,textarea{
	border-radius:4px;
	width:60%;
}

#updateinformation textarea{
	width:80%;
	height: 100px;
}

#updatepassword P{
	margin: 20px 200px 10px 300px;
	font-size: 16px;
}

#updatepassword input{
	border-radius:4px;
	width:60%;
}

#sendmessage p{
	margin: 20px 200px 10px 300px;
	font-size: 16px;
}

#sendmessage input{
	border-radius:4px;
	width:60%;
}

#sendmessage textarea{
	width:80%;
	height: 100px;
}



.ui-button-text-only .ui-button-text {
    padding: .2em 1em;
}

.main_div a:hover{
	text-decoration:none;
	
}

.main_div #myTab a{
	font-size: 16px;
}

.username_div,.usersex_div,.point_div{
	display:inline-block;
	margin:10px 10px 10px 20px;
	font-size: 18px;
	
}



.userdescription{
	display:inline-block;
	margin:5px 0 10px 20px;
	font-size: 15px;
}

#showmessage #messagelist{
	display:inline-block;
	width:20%;
	float: left;
	margin:10px 0 10px 20px;
	border-right: 1px solid #aaa;
}

#showmessage #messagelist li{
	font-size: 15px;
	margin:10px 0 10px 20px;
	border-bottom: 1px solid #ddd;
}
#showmessage  a{
	cursor: pointer;
}

#showmessage  a:hover{
	color:red;
}

#showmessage #messagedetail{
	display:inline-block;
	width:70%;
	float: right;
}

.message_title{
	display:inline-block;
	width:30%;
	float:left;
}

.messagedetail_header{
	border-bottom: 1px solid #ddd;
	float:left;
	width:100%;
	display:inline-block;
	margin:10px 50px 10px 0;
}

.message_date,#delectmessage{
	display:inline-block;
	width:30%;
	float:left;
	margin:10px 20px 10px 10px;
	font-size: 15px;
}

.message_content{
	margin:10px 20px 10px 10px;
	font-size: 15px;
}

#mycolletuser ul,#collectme ul{
	margin:10px 20px 10px 50px;
}

#mycolletuser li,#collectme li{
	display:inline-block;	
	margin:10px 20px 10px 10px;
}

#mycolletuser a,#collectme a{
	width:100px;
}



