<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.BlogMapper">
   
   
   <resultMap type="Blog" id="blogmap">
      <result property="id" column="id"/>
      <result property="title" column="title"/>
      <result property="class_id" column="class_id"/>
      <result property="content" column="content"/>
      <result property="author" column="author"/>
      <result property="pubtime" column="pubtime"/>
      <result property="clicknum" column="clicknum"/>
      <result property="collectnum" column="collectnum"/>
      <result property="commentnum" column="commentnum"/>
      <result property="commentpermission" column="commentpermission"/>
   </resultMap>
  
<select id="RankOfClicknum" parameterType="Blog" resultMap="blogmap">
   
       select * from blog order by clicknum DESC limit 10;
   
 </select>  

<select id="getBlogByAuthor" parameterType="Blog" resultMap="blogmap">
   
       select * from blog where author =#{author}
   
 </select>
  <select id="getBlogById" parameterType="Blog" resultMap="blogmap">
   
       select * from blog where id=#{id}
   </select>
 </mapper>