<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">
   
   
   <resultMap type="User" id="usermap">
      <result property="id" column="userid"/>
      <result property="name" column="username"/>
      <result property="pass" column="password"/>
      <result property="email" column="email"/>
      <result property="sex" column="sex"/>
      <result property="birthday" column="birthday"/>
      <result property="point" column="point"/>
      <result property="description" column="description"/>
      <result property="phone" column="phone"/>
      <result property="occupation" column="occupation"/>
      
   </resultMap>
   
   
  
   
   <select id="getUserByName" parameterType="User" resultMap="usermap">
   
       select * from user where username=#{name}
   </select>
   
   <select id="getUserByNameAndPass" parameterType="User" resultMap="usermap">
   
       select * from user where username=#{name} and password=#{pass}
   </select>
   
   
   <insert id="insertUser" parameterType="User">
       insert into user (username,password,email,sex,birthday) values(#{name},#{pass},#{email},#{sex},#{birthday})
   
   </insert>
   
   <select id="getUserById" parameterType="User" resultMap="usermap">
		select * from user where userid=#{id}
   </select>
   
   <update id="updatePoint" parameterType="User">
   		update user SET point=#{point} where userid=#{id}  
   </update>
   
   <select id="getMyCollectUser" parameterType="User" resultMap="usermap">
		select * from user where username=(select collectname from usercollect where username=#{name})
   </select>
   
   <select id="getCollectme" parameterType="User" resultMap="usermap">
		select * from user where username=(select username from usercollect where collectname=#{name})
   </select>
   
   <update id="updateUser" parameterType="User">
   		update user SET email=#{email},sex=#{sex},birthday=#{birthday},description=#{description},phone=#{phone},occupation=#{occupation} where username=#{name}  
   </update>
   
   <update id="updatePass" parameterType="User">
   		update user SET password=#{pass} where username=#{name}  
   </update>
  
   
</mapper>
